.flex-item {
    color: #fff;
    font-family: 'Lato', 'sans-serif';
    border: 1px solid olive;
    margin: 5px;
    background-color: chocolate;
    flex-basis: 10%;
}

.flex-item:nth-last-of-type(odd){
    background-color: blue;
    flex-basis: 20%;
}

.container {
    border: 5px dashed green;
    display: flex
}