#name:hover{
    background-color: aqua;
    border: 1px solid red;
}
#name:focus{
    background-color: yellow;
    border: 3px red;
}
.customer:first-child{
    background-color: tomato
}
.customer:nth-child(4) {
    background-color: yellow
}

.customer:nth-last-child(3) {
 background-color:aquamarine
}
.customer:nth-child(3n-1){
    background-color: chartreuse
}